*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    min-width:100%;
    height:100vh;

}
.rightside{
    position: absolute;
    width: 573px;
    height: 713px;
    left: 337px;
    top: 246px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(221, 221, 221, 0.15);
    border-radius: 16px;
    background-color: rgb(153, 230, 230);
}
.rightside .first{
    position: absolute;
    width: 111px;
    height: 33px;
    left: 28px;
    top: 32px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


}
.rightside .second{
   
position: absolute;
width: 109px;
height: 33px;
left: 28px;
top: 339px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* Neutrals/6 */

color: #353337;

}


.app{
    position:absolute;
    top:93px;
    left:35px;
    
   }
   .app input{
    
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 405px;
height: 52px;

border: 1px solid #DEDEDE;
border-radius: 8px;
margin-bottom: 20px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;  }

   /* the label for the inpute above*/

.app label{
    
width: 106px;
height: 19px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

/* Neutrals/5 */

color: #5E5C5F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.comply{

position: absolute;
width: 573px;
height: 713px;
left: 35px;
top: 450px;

}

.comply input{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 405px;
height: 52px;

border: 1px solid #EBEBEB;
border-radius: 8px;
margin-bottom: 25px;
}

.comply label{


width: 90px;
height: 19px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

/* Neutrals/5 */

color: #5E5C5F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}