{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% comment %} <link rel="stylesheet" href="{% static '/styles/dashboard-signup.css' %}" /> {% endcomment %}
    <title>Dashboard Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static './styles/dashboard-signup.css' %}"
    />

    <script
      src="https://kit.fontawesome.com/cf2b35cc7f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main class="container">
      <form class="row" method="POST">
        {% csrf_token %}
        <section class="bg-white rounded my-3 col-lg-6">
          <div class="background-img rounded"></div>
          <div class="profile-img">
            <img
              src="https://randomuser.me/api/portraits/lego/2.jpg"
              alt="rand"
            />
          </div>
          <div class="p-3">
            <h4>Personal Details</h4>
            <div class="form-row">
              <div class="form-group spacing">
                <label for="fullname">Full name</label>
                <input type="text" id="fullname" placeholder="Jane Doe" name="name" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="johndoe@gmail.com"
                  required
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="phoneNo">Phone Number</label>
                <input type="text" name="phoneNo" id="phoneNo" minlength="10" maxlength="13" placeholder="+23490909990" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <textarea
                  id="txtid"
                  name="txtname"
                  rows="4"
                  cols="50"
                  name="bio"
                  placeholder="Short bio"
                  maxlength="200"
                >
                </textarea>
              </div>
            </div>
          </div>
        </section>
        <section class="col-lg-6">
          <div class="bg-white rounded p-3 my-3">
            <h4>Website Profile</h4>
            <div class="form-row">
              <div class="form-group spacing d-flex">
                <input
                  class="w-25 m-2"
                  type="text"
                  name="website"
                  placeholder="Behance"
                  disabled
                />
                <input
                  class="w-75 m-2"
                  type="text"
                  id="URL"
                  name="url"
                  placeholder="URL"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <input
                  type="text"
                  class="m-2"
                  id="website-URL"
                  name="website-URL"
                  placeholder="Website URL"
                />
              </div>
            </div>
          </div>
          <div class="bg-white rounded p-3 my-3">
            <h4>Social Media Info</h4>
            <div class="form-row">
              <div class="form-group spacing d-flex">
                <select class="w-25">
                  <option>Twitter</option>
                  <option>Facebook</option>
                  <option>Instagram</option>
                </select>
                <input
                  class="w-75 m-2"
                  type="text"
                  id="URL"
                  placeholder="URL"
                />
              </div>
            </div>
          </div>
          <div class="w-100">
            <button
              class="btn purple-button my-2 px-4 w-100"
              href="{% url 'qr_gen_app:qr_dashboard' %}"
              role="button"
            >
              Create a Profile
            </button>
          </div>
        </section>
      </form>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{% endblock content %}
