{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href=""> <title>sidebar</title>
   <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
   
   <script src="https://kit.fontawesome.com/cf2b35cc7f.js" crossorigin="anonymous"></script>

  
</head>
<body>
    <header class="friz">
        <img class="logo" src="{% static '/images/qrcode 2.png' %}" alt="">
        <div class=>
           
    <!-- <form action="" class="searchbar">
        <button> <i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" placeholder="Search" >
    </form> -->
    <div class= sidenav>
    <a class="dashboard" href=""><img class="dashimg" src="{% static '/images/ri-dashboard-fill.png' %}" alt=""><p>Dashboard</p></a>
    <a class="generate" href=""><img class="generateimg" src="{% static '/images/ri-qr-code-line.png' %}" alt=""><p>Generate QR</p></a>
    <a class="group" href=""><img class="groupimg" src="{% static '/images/Group.jpg' %}" alt=""><p>Overview </p></a> 
    <div class="drop"><i class="fa-solid fa-caret-down"> 
        <ul>
            <li><a href="">Activate</a> </li>
            <li> <a href="">Archived</a> </li>
            <li> <a href="">Closed</a> </li>
        </ul>
    </i></div>
    <a  class="Documentation" href=""><img class="docimg" src="{% static '/images/Group (1).png' %}" alt=""><p>Documentation</p></a>
    <a  class="setting "href=""><img class="setimg"  src="{% static '/images/ri-settings-4-line.png' %}" alt=""><p>Setting</p></a>
    </div>
    <div class="logo">
        <img src="{% static '/images/qrcode 2.png' %}" alt=""> 
    
        <button class="disabled"><a href="{% url 'authentication:logout' %}"></a> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
    
        <div class= icon> <i class="fa-solid fa-user"></i></div>
    </div>
    
    <main>

        <div class="profilecard">
            <div class="background"> </div>
    <div class="profilepic"></div>
    <p>Personal Details</p>
    
    <form  class="fill" action="" method="POST">
        {% csrf_token %}
        <label for="">Full Name</label>
        <input type="text">
        <label for="">Email Address</label>
        <input type="email">
        <label for="">Phone Number</label>
        <input type="number">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
    
        <div>
    <form  class="rightbar" action="">
        <p>Website Portfolio</p>
        <button class="butt"> Behance</button>
        <input type="text" placeholder="url">
        <input class="wide" type="text"  placeholder="website url">
    </form>

    <form  class="lowbar" action="">
       
       <button class="sndbut">Twitter</button>
        <input type="text" placeholder="Url">
    </form>
   <button class="profile" href="" >Create a profile</button>
        </div>
    </main>
</body>
</html>