{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
    <!-- <link rel="stylesheet" href="script.js" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    />
  </head>
  {% block content %}
  <body>
    <section class="leftside">
      <div class="logo">
        <img class="logo" src=" {% static './images/qrcode 2.png' %}" alt="" />
      </div>
      <img
        class="heroimg"
        src="{% static './images/amico.png' %}"
        alt="frontimg"
      />
      <h2>Welcome</h2>
      <p>
        Sign up into GenQr to activate and have easy and well defined
        accessibility to different features
      </p>
    </section>
    <main>
      <h2 class="left">Create Account</h2>
      <form class="signup" method="POST" action="">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="John Doe" />
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="....@gmail.com"
        />
        <label for="Password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="********"
        />
        <label for=" Confirm Password">Confirm Password</label>
        <input
          type="password"
          name="cnfrm_password"
          id="cnfrm_password"
          placeholder="********"
        />

        <button>
          <a href="{% url 'authentication:profile' %}"></a> Sign Up
        </button>
      </form>

      <form class="box" action="">
        <input type="checkbox" />
        <label for="">By using this , you agree to the term of users</label>
      </form>
      <div class="end">
        <button>
          You already have an account?
          <a href="authentication:login.html">LOGIN</a>
        </button>
      </div>
    </main>
  </body>
  {% endblock %}
</html>
