*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    background-color: #faf8fc;
}
header{
    width:100%;
    height: 120px;
    background-color:  #ffffff;
  
  }
  img{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 48px;
    top: 84px;
  }

      .searchbar{
        width:100%;
        max-width: 749px;
        border: 1px solid hsl(0, 2%, 78%);
        background-color:   #ffffff;
        display: flex;
        align-items: center;
        align-items: center;
        padding: 2px 5px;
        border-radius: 50px;
        position:absolute;
        left:350px;
        top:50px;
        
  

      }
      .searchbar input{
display: transparent;
flex:1;
border: 0;
outline:none;
padding: 10px 5px;
border-radius: 50px;
background-color:   #ffffff;
 }
 ::placeholder{
  color: rgb(145, 145, 155);
  }
  .searchbar button{
    width:40px;
    height: 40px;
    background:    #ffffff;
    border:3px;
    cursor: pointer;
    color: rgb(145, 145, 155);
    border-radius: 50px;
    
  }

  .sidenav{
    width:304px;
    height:1024px;
    background-color:#ffffff;
    position: absolute;
    
    
  }
  .icon{   
position: absolute;
width: 56px;
height: 56px;
left: 0px;
top: 0px;
border-radius: 24px;
top: 40px;
margin-left:90%;
border: 1px solid rgb(136, 134, 134);
display: flex;

  }

  .icon i{
    width:500px;
    height:500px;
    margin-left: 20px;
    margin-top: 20px;
    

  }
  .dashboard{
    width: 200px;
    position: absolute;
    top:200px;
    left:50px;
    text-decoration: none;
    position: absolute;
  }
  .dashimg{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    left :0px;
  }
  .dashboard p{
    margin-left: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 33px;
    margin-top: 20px;
    
  }
  .generate{
    width: 200px;
    position: absolute;
    top:285px;
    left:50px;
    text-decoration: none;
    position: absolute;
  }
  .generateimg{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    left :0px;
  }
  .generate p{
    margin-left: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 33px;
    color: #868587;
    margin-top: 20px;
    
  }
  .group{
    width: 200px;
    position: absolute;
    top:370px;
    left:50px;
    text-decoration: none;
    position: absolute;
  }
  .groupimg{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    left :0px;
  }
  .group p{
    margin-left: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 33px;
    color: #868587;
    margin-top: 20px;
    margin-bottom: 20px
    
  }
  .drop{
    position: absolute;
    left: 70%;
    right: 0%;
    top: 39%;
    bottom: 0%;
    color: #868587;

  } 
  .drop ul li{
  padding: 10px;
  margin-left:-105px;
  font-size: 10px;
  color: #868587;
  font-style: none;
  text-decoration: none;
  letter-spacing:2px ;
  margin-top: 20px; 
  

}
.drop ul li a{
  text-decoration: none;
}
.Documentation{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;
position: absolute;
width: 197px;
height: 33px;
left: 80px;
top: 568px;
text-decoration: none;

}
.docimg{
  width: 28px;
    height: 28px;
    position: absolute;
    top: 5px;
    left :-30px;

}
.Documentation p{
  margin-left:12px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700px;
  font-size: 20px;
  line-height: 33px;
  color: #868587;
  margin-top:10px;
  
}
.setting{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;
position: absolute;
width: 129px;
height: 33px;
left: 80px;
top: 752px;
text-decoration: none;

}
.setimg{
  width: 28px;
height: 28px;
position: absolute;
    top: 5px;
    left :-30px;
}

.setting p{
  margin-left:12px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700px;
  font-size: 20px;
  line-height: 33px;
  color: #868587

}
.disabled{
  position: absolute;
width: 204px;
height: 73px;
left: 50px;
top: 841px;

/* Primary/1/main */

background: #4B296B;
border-radius: 12px;
font-size: 16px;
color: #FFFFFF;
border: none;

}
.disabled i{
  color: #FFFFFF;
  width: 24px;
  height: 24px;

}
.profilecard{
    position: absolute;
  width: 446px;
  height: 792px;
  left: 368px;
  top: 176px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(221, 221, 221, 0.15);
  border-radius: 16px;
  border-radius: 16px;
  
  }
  .background{
    position: absolute;
  width: 446px;
  height: 128px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  
  /* Secondary/4 */
  
  background: #8463a5
  }
  .profilepic{
    box-sizing: border-box;
  
  position: absolute;
  width: 135px;
  height: 135px;
  left: 155px;
  top: 60px;
  border-radius: 300px;
  
  background: #F7F7F7;
  border: 1px solid #FFFFFF;
  
  
  
  
  }
  
  .profilecard p{
    position: absolute;
  width: 158px;
  height: 33px;
  left: 20px;
  top: 211px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 165% */
  
  letter-spacing: 0.01em;
  
  /* Primary/10 */
  
  color: #190E24;
  
  }
  .fill{
  width:140px;
  height:25px ;
  position: absolute;
  left: 20px;
  top:300px;
  border-radius:20px;
  }
  .fill input,textarea{
    padding: 10px;
    border:1px solid rgb(216, 206, 206);
    margin-bottom: 10px;
    width: 300px;
  border-radius: 8px;
    
  }
  .fill label{
    
  width: 94px;
  height: 19px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  
  /* Neutrals/6 */
  
  color: #353337;
  }
  .rightbar{
    
  position: absolute;
  width: 491px;
  height: 241px;
  left: 600px;
  top: 25px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(221, 221, 221, 0.15);
  border-radius: 16px;
  }
  .lowbar{
    position: absolute;
  width: 491px;
  height: 169px;
  left: 600px;
  top: 441px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(221, 221, 221, 0.15);
  border-radius: 16px;
  }
  .rightbar input{
    padding: 10px;
    border-radius: 8px;
  border: 1px solid rgb(102, 100, 100);
   margin-top: 70px;
   width: 300px;
   margin-left: 150px;
  
  
  }
  .rightbar .wide{
    width: 420px; 
    margin-left: 30px;
  
  }
  .rightbar p{
    position: absolute;
  width: 168px;
  height: 33px;
  left: 20px;
  top: 16px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 165% */
  
  letter-spacing: 0.01em;
  
  /* Primary/10 */
  
  color: #190E24;
  
  }
  .rightbar .butt{
    position: absolute;
    top : 70px;
    left: 30px;
    padding:10px;
    padding: 9px, 20px;
    background-color: #FFFFFF;
    border: 1px solid #868587;
    border-radius: 8px;
    width: 100px;
  
  }
  .lowbar input{
    padding: 10px;
    border-radius: 8px;
  border: 1px solid rgb(102, 100, 100);
   margin-top: 50px;
   width: 300px;
   margin-left: 150px;
    
  }
  .lowbar .sndbut{
    position: absolute;
    top : 50px;
    left: 30px;
    padding:10px;
    padding: 9px, 20px;
    background-color: #FFFFFF;
    border: 1px solid #868587;
    border-radius: 8px;
    width: 100px;
  }
   .profile{
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  gap: 10px;
  
  position: absolute;
  width: 491px;
  height: 64px;
  left: 600px;
  top: 674px;
  
  /* Primary/1/main */
  
  background: #4B296B;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
   }
