/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    position: relative;
    margin: 3rem 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: white;
    z-index: 10000;
    transition: .5s
}

.header_toggle {
    color: black;
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: 68px;
    height: 100vh;
    background-color: white;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 100
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: #4B296B;

}

.nav_logo-name {
    color: #4B296B;
    font-weight: 700
}

.nav_link {
    position: relative;
    color: #4B296B;
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: black;
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(68px + 1rem)
}

.active {
    color: black;
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: black;
}



.purple-button {
    background: #4B296B;
    border-radius: 12px;
    color: white;
    width: fit-content;
    padding: 10px;
}

.purple-button i {
    margin-right: 5px;
}

.nav-bottom-div {
    margin-left: 6px;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(3rem + 1rem) 0 0 0;
        padding-left: calc(68px + 2rem)
    }

    .header {
        height: calc(3rem + 1rem);
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(68px + 156px)
    }

    .body-pd {
        padding-left: calc(68px + 188px)
    }
}
