*{
  padding: 0px;
  margin: 0px;
  font-family: 'Manrope';
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap" rel="stylesheet");
}
body{
  width: 100%;
  height: 100%;
  background-color: #f4f3f3;
}
.leftside{
  width: 50%;
  height:1028px;
  position: absolute;
  left:0px;
  top:0px;
  background-color:#faf8fc
}
.logo {
  display: flex;
width: 140px;
height:30px;
left:30px;
top:30px;
position: absolute;
}
.heroimg{
  position:absolute;
  width:429px;
  height: 390px;
  left:123px;
  top: 149px
}
 section h2{
  position: absolute;
  width: 150px;
  height: 40px;
  left:280px;
  top: 579px;
  font-family: 'Manrope';
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  line-height: 4px;
  color: #4b296b;
}
 section p{
  position: absolute;
  width: 545px;
  height:99px;
  left:87px;
  top:640px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400px;
  font-size:16px;
  line-height: 20px;
  text-align: center;
  color:#5e5e5f;

}
.left{
  position:absolute;
  width:270px;
  height:49px;
  left:774px;
  top:87px;
  font-family: 'Manrope';
  font-style: normal;
  font: weight 600px;
  font-size: 36px;
  line-height: 49px;
  color:#202022
}
.signup{
  position: absolute;
  width:556px;
  height:500px;
  left:771px;
  top: 178px;
  
}
 .signup label{
  font-family: "Manrope";
  font-style: normal;
  font-weight:200;
  font-size:14px;
  line-height:20px;
  color: #7b7b7e;
}
.signup input{
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width:546px;
  background-color: #ffffff;
  border:1px solid rgb(219, 210, 210);
  border-radius:8px;
  justify-content: space-between;
  margin-bottom: 20px;
  
}
 .rid{
  position:absolute;
  width:343px;
  height:22px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size:12px;
  line-height: 22px;
  color: #5e5e5f;
}

.signup button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:16px 8px;
  gap:10px;
  position: absolute;
  width: 575px;
  left:-1px;
  top: 430px;
  background-color: #4b296b;
  border-radius: 8px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 0.005em;
  color: #ffff;
  border: none;
  cursor: pointer;

}
::placeholder{
  color: #c5c5cc;
}
.box{
  display: flex;
  width: 400px;
  height: 20px;
  position: absolute;
  top: 550px;
  left:780px;
  padding: 10px 10px;
  
}
.box input{
  margin-right: 10px;
}
.box label{
font-size: 16px;
color: #7b7b7e;
font-family: 'Manrope';
}






.end p{
  position: absolute;
  
  width:400px;
  height:22px;
  left:771px;
  top: 900px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing:2px;
  color: #5e5e5f;
}

a{
text-decoration: none;
}
@keyframes up-down {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-10px); }
}

.heroimg{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}



@media only screen and (max-width: 850px){
	.signup {
        padding: 1rem; 
    }
}

/* THE MPBILE CREEN INCOMPLETE/