{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <link href="{% static '/qr_gen_app/LandingPage.css' %}" rel="stylesheet">
  <title>GenQR</title>
</head>

<body class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light py-3" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="./index.html"><img src="{% static 'qr_gen_app/images/qrcode 2.png' %}" alt="logo" class="img-fluid" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
            <li class="nav-item mx-2"><a class="nav-link" href="./index.html">Home</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="">How it works</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="">Documentation</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="">FAQs</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="">Contact us</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="">Log in</a></li>
            <li class="nav-item mx-2"><a class="btn purple-button" href="" role="button">Sign up</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section id="hero" class="d-flex align-items-center pb-5 pt-5 min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1 class="mx-2 my-3">Generate QR Codes For Your Business Easily</h1>
          <h5 class="mx-2 my-3">Share generated QR Codes to your social media profiles, track performance, edit content
            of QR Code without having to generate a new code</h5>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a class="btn purple-button my-2 px-4" href="" role="button">Get started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img p-md-5" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'qr_gen_app/images/first-img.png' %}" class="h-auto mw-100" />
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works" class="bg-grey-purple">
    <div class="container py-5">
      <h2 class="text-center">How It Works</h2>
      <p class="text-center">Create your QR Code in three simple tests</p>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h5 class="mx-2 my-3 purple-text">Choose QR Code to generate</h5>
          <p class="mx-2 my-3">Choose the type of QR Code you want to generate, you
            can select between a website url, business card,
            appstore url and an event invite QR Code</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img p-md-5" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'qr_gen_app/images/second-img.png' %}" class="h-auto mw-100" />
        </div>
      </div>
    </div>
  </section>

  <section id="" class="">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 hero-img p-md-5" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'qr_gen_app/images/third-img.png' %}" class="h-auto mw-100" />
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h5 class="mx-2 my-3 purple-text">Fill in required information</h5>
          <p class="mx-2 my-3">Fill in all the necessary information for the type of QR Code
            you want to generate. This can include link to a website,
            image of products, social media handles</p>
        </div>
      </div>
    </div>
  </section>

  <section id="" class="">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h5 class="mx-2 my-3 purple-text">Download QR Code</h5>
          <p class="mx-2 my-3">Generate your QR Code, customize it to your preferred look, download it or share it with
            your friends on social media</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img p-md-5" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'qr_gen_app/images/fourth-img.png' %}" class="h-auto mw-100" />
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="bg-deep-purple py-5">
    <div class="container py-5">
      <h2 class="text-center">Features</h2>
      <p class="text-center">We have a lot of cool features on our platform</p>
      <div class="row gy-4 my-3 justify-content-center">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="text-center">
            <img src="{% static 'qr_gen_app/images/Frame-1.png' %}" class="img-fluid" alt="frame-1" />
            <p>Create digital QR Codes for business and
              personal uses for free in 3 simple steps</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="text-center">
            <img src="{% static 'qr_gen_app/images/Frame-2.png' %}" class="img-fluid" alt="frame-1" />
            <p>Track the performance of your QR Codes
              with the in-built analytics tool</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="text-center">
            <img src="{% static 'qr_gen_app/images/Frame-3.png' %}" class="img-fluid" alt="frame-1" />
            <p>Easy to customise QR Codes whose info
              can be edited without generating a new QR Code</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="api-documentation" class="">
    <div class="container py-5">
      <h2 class="text-center">API Documentation</h2>
      <p class="text-center">Use our API on your site</p>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h5 class="mx-2 my-3 purple-text">QR Code generator</h5>
          <p class="mx-2 my-3">Build amazing sites that generate your own customized QR Codes using our API. View and
            interact with the API documentation here, also contact the developers for any enquiries</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a class="btn purple-button my-2 px-4" href="" role="button">View Documentation</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img p-md-5" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'qr_gen_app/images/fifth-img.png' %}" class="h-auto mw-100" />
        </div>
      </div>
    </div>
  </section>

  <section id="" class="bg-deep-purple">
    <div class="container py-5">
      <h2 class="text-center white-text">Start creating free QR Codes</h2>
      <p class="text-center white-text">Examples of things you can create QR Codes for include</p>
      <div class="row row-cols-lg-3 g-2 g-lg-3">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="bg-white p-3 rounded  h-100">
            <img src="{% static 'qr_gen_app/images/free-img-1.png' %}" class="img-fluid" alt="frame-1" />
            <h3 class="purple-text my-2">Her shoes</h3>
            <p class="">The best shoe plug in the city for ladies, we sell affordable high
              quality shoes for formal occasions, social events, and also
              comfortable home wears</p>
            <p class="purple-text">Check us out on social media</p>
            <div>
              <img src="{% static 'qr_gen_app/images/instagram.png' %}" class="mx-2 my-1" alt="instagram" />
              <img src="{% static 'qr_gen_app/images/twitter.png' %}" class="mx-2 my-1" alt="twitter" />
              <img src="{% static 'qr_gen_app/images/linkedin.png' %}" class="mx-2 my-1" alt="linkedin" />
            </div>
            <div class="d-flex my-2">
              <a class="btn white-button my-2 px-4" href="" role="button">View Website</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="bg-white p-3 rounded  h-100">
            <img src="{% static 'qr_gen_app/images/free-img-2.png' %}" class="img-fluid" alt="frame-1" />
            <h3 class="purple-text my-2">Palfinder</h3>
            <p>Find people you might know around you and also make new
              friends with the Palfinder app, it’s easy to use and also
              completely free.</p>
            <p class="purple-text">Check us out on social media</p>
            <div>
              <img src="{% static 'qr_gen_app/images/instagram.png' %}" class="mx-2 my-1" alt="instagram" />
              <img src="{% static 'qr_gen_app/images/twitter.png' %}" class="mx-2 my-1" alt="twitter" />
              <img src="{% static 'qr_gen_app/images/linkedin.png' %}" class="mx-2 my-1" alt="linkedin" />
            </div>
            <div class="d-flex my-2">
              <a class="btn white-button my-2 px-4" href="" role="button">Download app</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="bg-white p-3 rounded h-100">
            <img src="{% static 'qr_gen_app/images/free-img-3.png' %}" class="img-fluid" alt="frame-1" />
            <h3 class="purple-text my-2">Freshers Party</h3>
            <p>Are you a fresh student, get to meet fellow fresh students at the
              biggest party on campus, come enjoy and party with top artistes
              like Asake, Davido, Wizkid and more</p>
            <p class="purple-text">Check us out on social media</p>
            <div>
              <img src="{% static 'qr_gen_app/images/instagram.png' %}" class="mx-2 my-1" alt="instagram" />
              <img src="{% static 'qr_gen_app/images/twitter.png' %}" class="mx-2 my-1" alt="twitter" />
              <img src="{% static 'qr_gen_app/images/linkedin.png' %}" class="mx-2 my-1" alt="linkedin" />
            </div>
            <div class="d-flex my-2">
              <a class="btn white-button my-2 px-4" href="" role="button">View Details</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container py-5">
      <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
        <h2 class="text-center">Testimonials</h2>
        <p class="text-center">Read what our users have to say about us</p>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="{% static 'qr_gen_app/images/testimonal-1.png' %}" class="my-2" alt="...">
            <h5 class="purple-text my-2">Lady Brady</h5>
            <p className="my-2">I enjoy using GenQR for my business, it is easy to use and also super
              easy to customise, I have been able to increase my online customers by a
              significant amount since I started using GenQR</p>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'qr_gen_app/images/testimonal-1.png' %}" class="my-2" alt="...">
            <h5 class="purple-text my-2">Lady Brady</h5>
            <p className="my-2">I enjoy using GenQR for my business, it is easy to use and also super
              easy to customise, I have been able to increase my online customers by a
              significant amount since I started using GenQR</p>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'qr_gen_app/images/testimonal-1.png' %}" class="my-2" alt="...">
            <h5 class="purple-text my-2">Lady Brady</h5>
            <p className="my-2">I enjoy using GenQR for my business, it is easy to use and also super
              easy to customise, I have been able to increase my online customers by a
              significant amount since I started using GenQR</p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <a class="btn purple-button my-2 px-4" href="" role="button">Get started</a>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section class="bg-grey-purple">
    <div class="container py-5">
      <h2 class="text-center">FAQs</h2>
      <p class="text-center">Answers to frequently asked questions</p>
      <div class="accordion p-2 rounded" id="accordionExample">
        <div class="accordion-item border-0">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              What is a QR Code?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              QR Code is a two-dimensional version of the barcode, typically made up of black and white pixel patterns.
            </div>
          </div>
        </div>
        <div class="accordion-item border-0">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How do I generate a QR Code?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed reprehenderit excepturi tempora quibusdam
              officia eos? Excepturi veniam quis omnis ratione repudiandae reiciendis incidunt tempora numquam ab neque,
              labore accusantium facere?
            </div>
          </div>
        </div>
        <div class="accordion-item border-0">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What does static and dynamic QR Code mean?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero ab sapiente quo id aliquid culpa labore
              quas amet aperiam optio nobis omnis et, distinctio ex nulla qui eaque eos.
            </div>
          </div>
        </div>
        <div class="accordion-item border-0">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Do  have to pay to use a QR Code?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero ab sapiente quo id aliquid culpa labore
              quas amet aperiam optio nobis omnis et, distinctio ex nulla qui eaque eos.
            </div>
          </div>
        </div>
        <div class="accordion-item border-0">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              What can a QR Code be used for?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero ab sapiente quo id aliquid culpa labore
              quas amet aperiam optio nobis omnis et, distinctio ex nulla qui eaque eos.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="row p-5 bg-deep-purple m-0">

    <div class="col m-auto">
      <a class="navbar-brand my-2" href="./index.html"><img src="{% static 'qr_gen_app/images/qrcode 3.png' %}" alt="logo"
          class="img-fluid" /></a>
      <p class="my-2">GenQR let’s you generate customizable
        QR Codes for business and personal uses
        and also allows you track their
        performance.</p>
    </div>

    <div class="col">
      <h5>PRODUCT</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">How It Works</a></li>
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">API</a></li>
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">Generate QR Code</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>SUPPORT</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">Contact Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="text-white text-decoration-none p-0">Profile</a></li>
      </ul>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>

</body>

</html>