* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf8fc;
}
.container-fluid {
  padding: 0;
}
header .nav-link {
  color: #0d0a0f !important;
}

.purple-button {
  background: #4b296b;
  color: white;
  border-radius: 8px;
}

.white-button {
  background: white;
  color: #4b296b;
  border-radius: 8px;
  border: 1px solid #4b296b;
}

.bg-grey-purple {
  background: #dbd4e1;
}

.bg-deep-purple {
  background: #3f2259;
}

.bg-white {
  background: #fff;
}

.purple-text {
  color: #4b296b;
}

.white-text {
  color: white;
}

#features {
  color: white;
}

footer {
  color: white;
}
