{% extends 'base.html' %}

{% load static%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/qrcode_view.css' %}" />
  </head>
  <body>
    <main>
      <h1>Here is your QR code</h1>
      <h2>{{obj.Qrcode_name}}</h2>
      <img src={{obj.qr_code.url}}>

    </main>
  </body>
</html>


{% endblock content %}

