{% extends 'base.html' %}

{% load static%}

{% block content %}
<!DOCTYPE html>
{% load social_share %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/qrcode_view.css' %}" />
  </head>
  <body>
    <main>
      <h1>Here is your QR code</h1>
      <!--<h2>{{obj.Qrcode_name}}</h2>-->
      <img src={{obj.qr_code.url}}>
     
      {% post_to_facebook object_or_url "Share to Facebook!" %}
      {% post_to_linkedin object_or_url "Share to Linkedin!" %}
      {% post_to_telegram object_or_url "Share to Telegram!" %}
      {% post_to_twitter object_or_url "Share to Twitter!" %}
      {% post_to_whatsapp object_or_url "Share to Whatsapp!" %}

      <a href= "/download"><button>Download</button></a>

    </main>
  </body>
</html>


{% endblock content %}

