{% extends 'base.html' %}

{% load static%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/sdashboard.css' %}" />
  </head>
  <body>
    <main>
      <section class="rightside">
        <h2 class="first">Basic info</h2>
        <form class="app" action="" method="POST">
          {% csrf_token %}
          <label>App Name</label>
          <input type="text" name= "APPname"/>
          <label>Description </label>
          <input type="text" name="Desc"/> <br><br><br><br><br><br><br><br>

        <h2 class="second">App link</h2>

          <label>Url</label>
          <input type="url" name="url" />
          <label>QRcode name</label>
          <input type="text" name="QRcode" />
          <input type= "submit"/>
        </form>
      </section>
    </main>
  </body>
</html>


{% endblock content %}

